  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="login.component.scss">
      <title>Robi-Chatbot</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="logo"> 
          <img src="https://www.axiata.com/brandkit/img/img-3prism-01-01.png" alt=""> 
        </div>
        <div class="text-center mt-4 name"> Robi Axiata </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center"> 
              <span class="far fa-user"></span> <input type="text" name="userName" id="userName" placeholder="Username"> 
            </div>
            <div class="form-field d-flex align-items-center"> 
              <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Password"> 
            </div> 
            <button class="btn mt-3" routerLink="/dashboard">Login</button>
        </form>
        <div class="text-center fs-6"> <a href="#">Forget password?</a><a href="#"></a> 
        </div>
      </div>
  </body>
  </html>